<div class="header">
  <a href='https://www.kickstarter.com/projects/1602062107/fantastic-factories-a-dice-placement-engine-buildi?ref=b4kuv6' target="_blank">
    <img src="images/ff-logo.png" class="logo" />
    <p>Live on Kickstarter Now!</p>
  </a>
</div>

{{puzzle-builder
  board=board
  selectedBlueprints=selectedBlueprints
  selectedDice=selectedDice
  selectedResources=selectedResources
  cardIDs=cardIDs
  diceIDs=diceIDs
  resourceIDs=resourceIDs
  addBlueprint=(action 'addBlueprint')
  addDie=(action 'addDie')
  addResource=(action 'addResource')}}

  <div class="footer text-center">
    <br />
    <p><a href="https://boardgamegeek.com/forum/2123818/fantastic-factories/play-forum">Discover and solve other people's puzzles on BoardGameGeek!</a></p>
    <p>Fantastic Factories is a dice placement, engine building card game that's <a href="https://www.kickstarter.com/projects/1602062107/fantastic-factories-a-dice-placement-engine-buildi?ref=b4kuv6">live on Kickstarter right now!</a></p>

    <div class="footer-logos">
      <a href="https://www.facebook.com/fantasticfactories" target="_blank">{{fa-icon 'facebook' prefix='fab'}}</a>
      <a href="https://twitter.com/fanfactories" target="_blank">{{fa-icon 'twitter' prefix='fab'}}</a>
      <a href="https://www.instagram.com/fantastic.factories/" target="_blank">{{fa-icon 'instagram' prefix='fab'}}</a>
      <a href="https://medium.com/@fantastic.factories" target="_blank">{{fa-icon 'medium' prefix='fab'}}</a>
      <a href="https://www.kickstarter.com/projects/1602062107/fantastic-factories-a-dice-placement-engine-buildi?ref=b4kuv6" target="_blank">{{fa-icon 'kickstarter' prefix='fab'}}</a>
    </div>
  </div>
